/* Reset styles */
html, body, header, nav, ul, li, h1, h2, p, footer {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: black; /* Black background color */
    color: #fff; /* White text color */
}

header {
    background-color: #ff80ab; /* Pink background color */
    padding: 20px;
    text-align: center;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff; /* White text color */
    text-decoration: none;
    font-weight: bold; /* Bold font weight */
}

section {
    padding: 50px 20px;
    background-color: black; /* Black background color */
}

h2 {
    margin-bottom: 20px;
    color: #ff80ab; /* Pink heading color */
}

footer {
    background-color: #ff80ab; /* Pink background color */
    text-align: center;
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
}
